<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="style.css">
    <title>Cineretro</title>
</head>

<body>

    <nav>
        <div class="nav-wrapper black">
            <a href="#" class="brand-logo">Cineretrô</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li class="active"><a href="/filme">Todos os filmes</a></li>
                <li><a href="#">Avaliados</a></li>
                <li><a href="#">Usuários</a></li>
                <li>
                    <span th:text="${username}"></span>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">

        <div class="card-panel teal accent-3" th:if="${success}" th:text="${success}"></div>
        <div class="card-panel red accent-3 white-text" th:if="${error}" th:text="${error}"></div>

        <h2>Todos os filmes </h2>

        <div class="row">

            <div th:each="filme : ${filmes}" class="col s12 m6 l4">
                <div class="card">
                    <div class="card-content">
                        <span th:text="${filme.title}" class="card-title"></span>
                        <p th:text="${filme.description}"></p>
                        <span th:text="${filme.rating}" data-badge-caption="points" class="badge black white-text"></span>
                    </div>
                    <div class="card-action">
                        <a th:href="${'/filme/delete/' + filme.id}" class="waves-effect waves-light btn black">
                            <i class="material-icons">delete</i>
                        </a>

                    </div>
                </div>

            </div>

        </div>

    </div>


    <div class="fixed-action-btn">
        <a href="/filme/new" class="btn-floating btn-large black ">
            <i class="large material-icons">add</i>
        </a>
    </div>

</body>

</html>